@import "tailwindcss";

/* Define your theme variables */
@theme {
  --color-primary: #832996c9;   
  --color-secondary: #e79f4f; 
  --color-accent: #A271A2;    
  --color-muted: #ededed;     
  --color-background: #9750A6;
  --color-foreground: #0f172a;

  /* ✅ Link Tailwind font tokens to Next.js font vars */
  --font-sans: var(--font-content), system-ui, sans-serif;
  --font-serif: var(--font-headings), serif;
  --font-mono: "Fira Code", monospace;
}

/* Base styles for HTML tags */
@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl font-bold font-serif text-primary;
  }

  h2 {
    @apply lg:text-5xl sm:text-4xl text-3xl font-normal font-serif text-primary;
  }

  h3 {
    @apply text-3xl font-semibold font-serif text-primary;
  }

  h4 {
    @apply text-2xl font-semibold font-serif text-primary;
  }

  h5{
    @apply text-xl font-semibold font-serif text-primary;
  }

  h6{
    @apply text-lg font-semibold font-serif text-primary;
  }

  p {
    @apply text-base font-sans text-foreground leading-relaxed;
  }

  a {
    @apply text-primary transition;
  }

  button {
  @apply text-white font-sans px-6 py-3 rounded-xl transition 
         bg-gradient-to-r from-primary via-accent to-secondary;
  }

}
